-- Generated by Oracle SQL Developer Data Modeler 22.2.0.165.1149
--   at:        2023-04-28 10:58:22 SEL�
--   site:      Oracle Database 11g
--   type:      Oracle Database 11g

CREATE TABLE food (
    food_id     INTEGER NOT NULL,
    type_id     INTEGER NOT NULL,
    name        VARCHAR2(10) NOT NULL,
    description VARCHAR2(50),
    allergens   VARCHAR2(10) NOT NULL,
    cost        NUMBER NOT NULL
);

ALTER TABLE food ADD CONSTRAINT food_pk PRIMARY KEY ( food_id );

CREATE TABLE menu (
    menu_id      INTEGER NOT NULL,
    "date"       DATE NOT NULL,
    created_date DATE NOT NULL
);

ALTER TABLE menu ADD CONSTRAINT menu_pk PRIMARY KEY ( menu_id );

CREATE TABLE menu_item (
    menu_item_id INTEGER NOT NULL,
    menu_id      INTEGER NOT NULL,
    food_id      INTEGER NOT NULL,
    count        INTEGER NOT NULL,
    cost         NUMBER NOT NULL
);

ALTER TABLE menu_item ADD CONSTRAINT menu_item_pk PRIMARY KEY ( menu_item_id );

CREATE TABLE "Order" (
    order_id     INTEGER NOT NULL,
    table_id     INTEGER,
    created_date DATE NOT NULL,
    state        VARCHAR2(10) NOT NULL,
    created_by   INTEGER NOT NULL
);

ALTER TABLE "ORDER" ADD CONSTRAINT order_pk PRIMARY KEY ( order_id );

CREATE TABLE order_item (
    order_item_id INTEGER NOT NULL,
    order_id      INTEGER NOT NULL,
    menu_item_id  INTEGER NOT NULL,
    count         INTEGER NOT NULL,
    state         VARCHAR2(10) NOT NULL,
    created_by    INTEGER NOT NULL
);

ALTER TABLE order_item ADD CONSTRAINT order_item_pk PRIMARY KEY ( order_item_id );

CREATE TABLE reservation (
    reservation_id INTEGER NOT NULL,
    on_name        VARCHAR2(50) NOT NULL,
    telephone      VARCHAR2(15),
    time_start     DATE NOT NULL,
    time_end       DATE NOT NULL,
    created_date   DATE NOT NULL,
    created_by     INTEGER NOT NULL
);

ALTER TABLE reservation ADD CONSTRAINT reservation_pk PRIMARY KEY ( reservation_id );

CREATE TABLE role (
    role_id     INTEGER NOT NULL,
    name        VARCHAR2(10) NOT NULL,
    description VARCHAR2(50)
);

ALTER TABLE role ADD CONSTRAINT role_pk PRIMARY KEY ( role_id );

CREATE TABLE "Table" (
    table_id INTEGER NOT NULL,
    capacity INTEGER NOT NULL
);

ALTER TABLE "TABLE" ADD CONSTRAINT table_pk PRIMARY KEY ( table_id );

CREATE TABLE table_reservation (
    table_id       INTEGER NOT NULL,
    reservation_id INTEGER NOT NULL
);

ALTER TABLE table_reservation ADD CONSTRAINT table_reservation_pk PRIMARY KEY ( reservation_id,
                                                                                table_id );

CREATE TABLE type (
    type_id INTEGER NOT NULL,
    name    VARCHAR2(10) NOT NULL
);

ALTER TABLE type ADD CONSTRAINT type_pk PRIMARY KEY ( type_id );

CREATE TABLE "User" (
    user_id    INTEGER NOT NULL,
    first_name VARCHAR2(10) NOT NULL,
    last_name  VARCHAR2(10) NOT NULL,
    born_date  DATE NOT NULL,
    email      VARCHAR2(30) NOT NULL,
    password   VARCHAR2(10) NOT NULL,
    role_id    INTEGER NOT NULL,
    active     CHAR(1) NOT NULL
);

ALTER TABLE "USER" ADD CONSTRAINT user_pk PRIMARY KEY ( user_id );

ALTER TABLE food
    ADD CONSTRAINT food_type_fk FOREIGN KEY ( type_id )
        REFERENCES type ( type_id );

ALTER TABLE menu_item
    ADD CONSTRAINT menu_item_food_fk FOREIGN KEY ( food_id )
        REFERENCES food ( food_id );

ALTER TABLE menu_item
    ADD CONSTRAINT menu_item_menu_fk FOREIGN KEY ( menu_id )
        REFERENCES menu ( menu_id );

ALTER TABLE order_item
    ADD CONSTRAINT order_item_menu_item_fk FOREIGN KEY ( menu_item_id )
        REFERENCES menu_item ( menu_item_id );

ALTER TABLE order_item
    ADD CONSTRAINT order_item_order_fk FOREIGN KEY ( order_id )
        REFERENCES "ORDER" ( order_id );

ALTER TABLE order_item
    ADD CONSTRAINT order_item_user_fk FOREIGN KEY ( created_by )
        REFERENCES "USER" ( user_id );

ALTER TABLE "ORDER"
    ADD CONSTRAINT order_table_fk FOREIGN KEY ( table_id )
        REFERENCES "TABLE" ( table_id );

ALTER TABLE "ORDER"
    ADD CONSTRAINT order_user_fk FOREIGN KEY ( created_by )
        REFERENCES "USER" ( user_id );

ALTER TABLE reservation
    ADD CONSTRAINT reservation_user_fk FOREIGN KEY ( created_by )
        REFERENCES "USER" ( user_id );

ALTER TABLE table_reservation
    ADD CONSTRAINT table_reservation_reserv_fk FOREIGN KEY ( reservation_id )
        REFERENCES reservation ( reservation_id );

ALTER TABLE table_reservation
    ADD CONSTRAINT table_reservation_table_fk FOREIGN KEY ( table_id )
        REFERENCES "TABLE" ( table_id );

ALTER TABLE "USER"
    ADD CONSTRAINT user_role_fk FOREIGN KEY ( role_id )
        REFERENCES role ( role_id );
