
CREATE OR REPLACE TYPE ListOfReserved_type
AS OBJECT
(
    TABLE_ID NUMBER,
    RESERVED_THAT_DAY NUMBER,
    RESERVED_THAT_MONTH NUMBER
);

CREATE OR REPLACE TYPE ListOfReserved_table_type
AS TABLE OF ListOfReserved_type;

CREATE OR REPLACE FUNCTION ListOfReservedTablesForDay(p_date DATE) RETURN ListOfReserved_table_type PIPELINED AS
BEGIN
    FOR v_Rec IN (
        SELECT DISTINCT
            "TABLE".TABLE_ID,
            COUNT("TABLE".TABLE_ID) AS RESERVED_FOR_DAY,
            (SELECT COUNT(*)
             FROM TABLE_RESERVATION TR
                      JOIN RESERVATION R ON R.RESERVATION_ID = TR.RESERVATION_ID
             WHERE "TABLE".TABLE_ID = TR.TABLE_ID AND
                 EXTRACT(YEAR FROM R.TIME_START) = EXTRACT(YEAR FROM p_date) AND
                 EXTRACT(MONTH FROM R.TIME_START) = EXTRACT(MONTH FROM p_date)
            ) AS RESERVED_FOR_MONTH
        FROM "TABLE"
                 JOIN TABLE_RESERVATION ON TABLE_RESERVATION.TABLE_ID = "TABLE".TABLE_ID
                 JOIN RESERVATION ON RESERVATION.RESERVATION_ID = TABLE_RESERVATION.RESERVATION_ID
        WHERE
            EXTRACT(DAY FROM RESERVATION.TIME_START) = EXTRACT(DAY FROM p_date) AND
            EXTRACT(MONTH FROM RESERVATION.TIME_START) = EXTRACT(MONTH FROM p_date) AND
            EXTRACT(YEAR FROM RESERVATION.TIME_START) = EXTRACT(YEAR FROM p_date)
        GROUP BY "TABLE".TABLE_ID
        ORDER BY "TABLE".TABLE_ID
    )
        LOOP
            PIPE ROW (ListOfReserved_type(v_Rec.TABLE_ID, v_Rec.RESERVED_FOR_DAY, v_Rec.RESERVED_FOR_MONTH));

        END LOOP;
    RETURN;
END;

SELECT * FROM TABLE ( LISTOFRESERVEDTABLESFORDAY(DATE '2023-05-07') );

SELECT T.TABLE_ID, T.CAPACITY, LIST.RESERVED_THAT_DAY, LIST.RESERVED_THAT_MONTH
FROM TABLE(LISTOFRESERVEDTABLESFORDAY(?)) LIST
JOIN "TABLE" T ON T.TABLE_ID = LIST.TABLE_ID;